* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f17007;
  margin-top: 10%;
  background-image: url(image/pexels-rdne-7092336.jpg);
  background-repeat: no-repeat;
  width: 100%;
  color: #fff;
  
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); */
  text-align: center;
  /* From https://css.glass */
  background: rgba(248, 244, 244, 0.2);
  box-shadow: 0 8px 32px 0 rgba(159, 163, 230, 0.37);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 2px solid rgba( 255, 255, 255, 0.18 );
}

button {
  padding: 10px 15px;
  background-color: #df5a02;
  color: white;
  border: none;
  margin-top: 20px;
  
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #054e3c;
}

.question {
  margin: 20px 0;
  font-size: 20px;
}

.answers {
  margin: 20px 0;
}

.answers button {
  display: block;
  margin: 5px auto;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.answers button:hover {
  background-color: #388e3c;
}

.score {
  margin-top: 20px;
  font-size: 18px;
}

h1{
    /* background-color: #fff; */
    /* width: 60%; */
    text-align: center;

}